import React, { Component } from 'react';
import { connect } from 'react-redux';
import { {{name}}Selector } from './selectors';
import * as actions from './actions';

class {{ properCase name}} extends Component {
  render() {
    const { {{ camelCase name}} } = this.props;

    return (
      <div>
        {{ properCase name}} container
      </div>
    );
  }
}

const mapStateToProps = state => ({
  {{ camelCase name}}: {{ camelCase name}}Selector(state),
});

export default connect(mapStateToProps, actions)({{ properCase name }});
