import React, { Component } from 'react';
import { connect } from 'react-redux';
import { {{name}}Selector } from './selectors';
import * as actions from './actions';

class {{name}} extends Component {
  render() {
    const { {{name}} } = this.props;

    return (
      <div>
        {{name}} container
      </div>
    );
  }
}

const mapStateToProps = state => ({
  {{name}}: {{name}}Selector(state),
});

export default connect(mapStateToProps, actions)({{name}});
